.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.People {
  display: flex;
}

.Person {
  flex: 1;
}

.Pic {
  max-width: 90%;
  height: auto;
}

.Info {
  padding: 10px 15px;
}

.Flag {
  border: solid 1px #ccc;
}

.Links {
  display: flex;
}

.Links a {
  flex: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
